.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
}

.Dropdown-list {
  list-style-type: none;
  width: 100%;
  border: 1px, solid, black;
  margin: 0;
  padding: 0;
}

.Dropdown-list-item {
  margin: none;
  border-bottom: 1px solid black;
}

.Dropdown-list-item:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.Dropdown-value {
  width: 100%;
  margin: auto;
  padding: 1px 5px;
}

.Dropdown-menu {
  margin: auto;
  width: 125px;
}

.Journey-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}

.Go-button {
  padding: 40px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
